<% title "Games" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
  </tr>
  <% for game in @games %>
    <tr>
      <td><%=h game.name %></td>
      <td><%=h game.description %></td>
      <td><%=h game.active %></td>
      <td><%= link_to "Show", game %></td>
      <td><%= link_to "Edit", edit_game_path(game) %></td>
      <td><%= link_to "Destroy", game, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Game", new_game_path %></p>
