<% title "Matches" %>

<table>
  <tr>
    <th>Game</th>
    <th>Title</th>
    <th>Final Score</th>
    <th>Winner</th>
    <th>Participants</th>
  </tr>
  <% for match in @matches %>
    <tr>
      <td><%=h match.game %></td>
      <td><%=h match.title %></td>
      <td><%=h match.final_score %></td>
      <td><%= link_to match.winner,match.winner %></td>
      <td><%= match.arr_participants.map{|u| link_to u,u }.join('; ') %></td>
      <td><%= link_to "Show", match %></td>
      <td><%= link_to "Edit", edit_match_path(match) %></td>
      <td><%= link_to "Destroy", match, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Match", new_match_path %></p>
