<% title "Match" %>

<p>
  <strong>Game:</strong>
  <%=link_me @match.game %>
</p>
<p>
  <strong>Date Start:</strong>
  <%=h @match.match_start %>
</p>
<p>
  <strong>Date End:</strong>
  <%=h @match.match_end %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @match.notes %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @match.title %>
</p>
<p>
  <strong>Final Score:</strong>
  <%=h @match.final_score %>
</p>
<p>
  <strong>Winner:</strong>
  <%=link_me @match.winner %>
</p>
<p>
  <strong>Participants:</strong>
  <%=@match.arr_participants.map{|m| link_me(m) }.join(', ') %>
</p>

<p>
  <%= link_to "Edit", edit_match_path(@match) %> |
  <%= link_to "Destroy", @match, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", matches_path %>
</p>
